@import "tailwindcss";

:root {
  --background: #F1F1F3;
  --sidebar-bg: #F4F4F6;
  --foreground: #1A1A1A;
  --accent: #111827;
  --card: #ffffff;
  --border: #D3D4CF;
  --muted: #ACABB1;
  --radius: 1.5rem; /* Large rounded corners for the "window" */
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility minimal-card {
  border: 1px solid var(--border);
  background: var(--background);
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--foreground);
  }
}

/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted);
}